<center>
<h2>List of Employees</h2>
<br>


<table>
<tr>
<th>ID: </th>
<th>Name: </th>
<th>Department: </th>
<th>Role :</th>
</tr>

<% @employees.each do |f| %>
<tr>
	<td><%= link_to f.id , employee_path(f.id) %></td>
	<td><%= f.name %></td>
	<td><%= f.department_id %></td>
	<td><%= f.role_id %></td>
</tr>
<% end %>
</table>
</center>
<br>
<%= link_to 'Add User' , new_employee_registration_path %>
