<center>
<h2>List of Employees</h2>

<p><%= search_form_for @search do |f| %>
	
  <%= f.label :role_id_eq, "Role :" %>
  <%= f.select :role_id_eq, options_for_select([["Please Select",nil],["Staff",1],["Manager",2],["Management",3],["Administrator",4],["Manager/Administrator",5]]) %>
	
  <%= f.label :department_id_eq, "Department :" %>
  <%= f.select :department_id_eq, options_for_select([["Please Select",nil],["Software",1],["Network",2],["Sales",3],["Marketing",4]]) %>
  
  <%= f.submit "Search" %></p>
<% end %>


<table>
<tr>
<th>No</th>
<th>Name</th>
<th>Department</th>
<th>Role</th>
<th>Actions</th>
</tr>

<% @employees.each_with_index do |f,i| %>
<tr>
	<td><%= i+1  %></td>
	<td><%= f.name %></td>
	<td><%= Department.where(id:f.department_id).pluck("department_name").join("") %></td>
	<td><%= Role.where(id:f.role_id).pluck("role_name").join("") %></td>
	<td><%= link_to 'Details',employee_path(f.id)%></td>
</tr>
<% end %>
</table>
</center>

<%= paginate @pages %> 

<br>
<%= button_to 'Add User' , new_employee_path, method: :get %>
