<h1>Employees</h1>
<br>

<center>
<table>

<% @show.each do |f| %>

<tr>
<th>Name: </th>
<td><%= f.name %></td>
</tr>

<tr>
<th>ID: </th>
<td><%= f.id %></td>
</tr>

<tr>
<th>Role: </th>
<td><%= f.role_id %></td>
</tr>

<tr>
<th>Department: </th>
<td><%= f.department_name %></td>
</tr>

<tr>
<th>Phone no: </th>
<td><%= f.phone %></td>
</tr>

<tr>
<th>E-mail: </th>
<td><%= f.email %></td>
</tr>

<% end %>

</table>
</center>
<br><br>

<% if current_employee.role_id == 4 || current_employee.role_id == 5 %>
<% end %>

<%= link_to "Back" , employees_path %> |
<%= link_to "Remove User" , @employees , :method => :delete , :confirm => "Are you sure ?" %>
