<h1>Employees</h1>
<br>

<center>
<table>
<tr>
<th>Name: </th>
<td><%= @employees.name %></td>
</tr>

<tr>
<th>ID: </th>
<td><%= @employees.id %></td>
</tr>

<tr>
<th>Role: </th>
<td><%= @employees.role_id %></td>
</tr>

<tr>
<th>Department: </th>
<td><%= @employees.department_name %></td>
</tr>

<tr>
<th>Phone no: </th>
<td><%= @employees.phone %></td>
</tr>

<tr>
<th>E-mail: </th>
<td><%= @employees.email %></td>
</tr>

</table>
</center>
<br><br>

<% if current_employee.role_id == 4 || current_employee.role_id == 5 %>
<% end %>
<%= link_to "Back" , employees_path %> |
<%= link_to "Remove User" , @employees , :method => :delete , :confirm => "Are you sure ?" %>

