<h1>Employees</h1>
<br>

<center>
<table>
<tr>
<th>Name: </th>
<td><%= @show.name %></td>
</tr>

<tr>
<th>ID: </th>
<td><%= @show.id %></td>
</tr>

<tr>
<th>Role: </th>
<td><%= Role.where(id:@show.role_id).pluck("role_name").join("") %></td>
</tr>

<tr>
<th>Department: </th>
<td><%= Department.where(id:@show.department_id).pluck("department_name").join("")  %></td>
</tr>

<tr>
<th>Phone no: </th>
<td><%= @show.phone %></td>
</tr>

<tr>
<th>E-mail: </th>
<td><%= @show.email %></td>
</tr>

</table>
</center>
<br><br>

<%= link_to "Back" , :back %> |
<% if current_employee == @show %>
	<%= link_to "Edit Profile", edit_employee_path(@show)%>
<% elsif current_employee.role_id == 4 || current_employee.role_id == 5 %>
	<%= link_to "Remove User" , @employees , :method => :delete , :confirm => "Are you sure ?" %>
<% end %>
