<div id="empLeave2">
	<%= calendar @date do |date| %>
        
        <% @availability = LeaveApplication.findAv(current_employee,current_employee.role_id,current_employee.department_id,date)%>
        <% @app = LeaveApplication.checkDateAv(current_employee,date)%>
           
            <% if !@app.any? && (date.strftime('%a') != 'Sat' && date.strftime('%a') != 'Sun') && Date.today < date %>    
                 <span id="day" data-remote="true" data-date="<%= date %>"><%= date.day %></span>
            <% else %>
                <span id="e_<%= date %>"><%= date.day %></span>
            <% end %>
            <br/>
            <% if @availability.any? %>
            <center>
                <select size="2" class="date_<%= date %>" ONCHANGE="location = this.options[this.selectedIndex].value;" id="selection" style="width: 100px;">
            		<% @leaveApplications.each do |l|%>
            			<% 
            				dateLeaveStart = Date.parse(l.start_date.strftime('%Y-%m-%d'))
            				dateLeaveEnd = Date.parse(l.end_date.strftime('%Y-%m-%d'))
            			 %>

            		<% if date == dateLeaveStart || (dateLeaveEnd >= date && date >= dateLeaveStart)  %>
            			<% if l.status_id == 1 %>
            				<% cl = "ns" %>
            			<% elsif  l.status_id == 2 %>
            				<% cl = "p" %>
                        <% elsif  l.status_id == 3 %>
                            <% cl = "r" %>
            			<% elsif  l.status_id == 4 %>
            				<% cl = "am" %>
            			<% elsif  l.status_id == 5 %>
            				<% cl = "a" %>
            		    <% end %>
                           
        	           <option class="<%= cl %>" id="d_<%= l.lid %>" value="#<%= l.lid %>" data-lid="<%= l.lid %>" data-eid="<%= l.eid %>" data-sid="<%= l.status_id %>" data-did="<%= l.department_id %>" data-eid="<%= l.eid %>" data-sd="<%= dateLeaveStart %>"data-ed="<%= dateLeaveEnd %>" data-date="<%= date %>" data-day="<%= date.day %>"><b><%= l.name %></b></option>
                   
                   <% end %>
        		<% end %>
                </select>
            </center>
        		<% end %>
        
	<% end %>
</div>

<a href="#" class="overlay" id="info"></a>
   <div class="popup">
        <a class="close" href="#close"></a>
    </div>



 