<%= form_for @leaveApplication do |f| %>

<div class="form_text_box">
        Start Date:<%= f.text_field :start_date %>
        End Date:<%= f.text_field :end_date %>
      </div>
    <h1>Reason</h1>   
      <div class="form_text_box">
        <%= f.text_area :reason %>
      </div>
 
 <%= f.submit 'Submit',:id => "submit_btn",:notice=>"Your submission form will be processed!"%>

<% end %>
 

 

 
 