<% @leaveApplication.each do |l| %>
<h1>Application #<%= l.id %></h1>

<center>
<div id='staffApplication'>

	<table>

		<tr>
			<td><b>Leave Type :</b></td>
			<td><%= l.leave_name%></td>
		</tr>

		<tr>
			<td><b>Reason of leave :</b></td>
			<td><%= l.reason%></td>
		</tr>

		<tr>
			<td><b>Date of Start Leave :</b></td>
			<td><%= l.start_date.strftime('%d/%m/%Y') %></td>
		</tr>

		<tr>
			<td><b>Date of End Leave :</b></td>
			<td><%= l.end_date.strftime('%d/%m/%Y') %></td>
		</tr>

		<tr>
			<td><b>Application Status :</b></td>
			<td><%= l.status_name %></td>
		</tr>
		
	</table>
	
<% end %>
</div>

</center>
<center><%= button_to 'Back', :back,method: :get %></center>