<h3>Application Archive</h3>

<p><%= form_tag archive_leave_applications_path,method: :get do%>
	
  <%= select_tag :status_name, options_for_select([["Approved",5],["Rejected",3]]),
			{prompt: "Please Select"}%>
  	
  <%= submit_tag "Search" %><br/>
  <% end %>
  


<%= render 'leaveApplications'%>

<%= paginate @pages %> 