<div id='left'>
<h4>Welcome, <%= current_employee.name %>.</h4>
<p>List of on-leave employee for the current month</p>
<br/><br/>
<div id='navCal'>
<h2 id='month'>
	<center>
		<span id='month'><%= @date.strftime('%B %Y') %></span>
	</center>
</h2>
</div>
<%= form_tag leave_applications_path, method: :get, :remote => true do  %>
    <b>Traverse Calendar(By Month or Year) :</b><%= select_month(nil, :field_name => 'value', :prefix => 'month',:prompt => 'Choose month') %> <%= select_year(nil, :field_name => 'value', :prefix => 'year',:prompt => 'Choose year') %> <%= submit_tag "Go"%><br/>
    <% end %>
</div>
<span id="showL">Click to show Legend</span>
<div id='right'>
    <center>
    <table id='lTable'>
        <tr>
            <td colspan="2"><center><span id='lt'><b>Legend</b></span></center></td>
        </tr>
        <tr>
            <td><div id='red'></div></td>
            <td><span id='lt'>Not Submitted</span></td>
        </tr>
        <tr>
            <td><div id='orange'></td>
            <td><span id='lt'>Submitted/Pending</span></td>
        </tr>
        <tr>
            <td><div id='blue'></div></td>
            <td><span id='lt'>Under management review</span></td>
        </tr>
        <tr>
            <td><div id='green'></div></td>
            <td><span id='lt'>Application Approved</span></td>
        </tr>
        <tr>
            <td><div id='grey'></div></td>
            <td><span id='lt'>Application Rejected</span></td>
        </tr>
    </table>
     </center>
</div>
<div class='clearfix'></div>
<div id="empLeave">
<%= render "calendar" %>
</div>
    
    