<h4>Welcome, <%= current_employee.name %>. Page is still under construction.</h4>
<p>List of on-leave employee for the current month</p>
<h2 id='month'>
	<center>
		<%= link_to "<", date: @date.prev_month %>
		<%= @date.strftime('%B %Y') %>
		<%= link_to ">", date: @date.next_month %>
	</center>
</h2>
<div id="empLeave">
	<%= calendar @date do |date| %>
		<%= date.day %>
		<% @leaveApplications.each do |l|%>
			<% 
				dateLeaveStart = Date.parse(l.start_date.strftime('%Y-%m-%d'))
				dateLeaveEnd = Date.parse(l.end_date.strftime('%Y-%m-%d'))
			 %>
		<% if date == dateLeaveStart || (dateLeaveEnd >= date && date >= dateLeaveStart) %>
			<ul>
				<li><%= link_to l.name, employee_path(l.id) %></li>
			</ul>
		<% end %>
		<% end %>
	<% end %>
</div>
<%= button_to 'Add Application', new_leave_application_path %>