<h1>Report Archive</h1>

<p>This section displays all the report regarding the leave application.</p>

<div id="reportFilter">
	<fieldset>
		<legend>Report filter</legend>
	<%= form_tag report_leave_applications_path, method: :get do  %>
		<fieldset>
			<legend>Employees</legend>
			<%= select_tag 'emp_name', options_for_select(@employees.collect{ |u| [u.name, u.id] })	%>
		</fieldset>
		<fieldset>
			<legend>Departments</legend>
			<%= select_tag 'dept_name', options_for_select(@departments.collect{ |u| [u.department_name, u.id] })	%>
		</fieldset>
		<fieldset>
			<legend>Date Range</legend>
			<b>From : </b><%= date_select("range", "dateS", 
			:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }) %>
			<br/>
			<b>To :</b> <%= date_select("range", "dateE", 
			:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }) %>
		</fieldset>
	<% end %>
	</fieldset>
</div>


<center>
<div>
	<table size='100%' id='managerTable'>
		
	</table>
</div>	

</center>
