<h1>Total Leave Application taken by Department</h1>

<p>This section displays all the report regarding the leave application.</p>

<center>
<div id="reportFilter">
	<fieldset class="fieldset-auto-width">
		<legend><b>Report filter</b></legend>
	<%= form_tag reportDept_leave_applications_path, method: :get , remote: true do  %>
		<fieldset>
			<legend><b>Departments</b></legend>
			<%= select_tag :dept_name, options_for_select(@departments.collect{ |u| [u.department_name, u.id] }),
			{prompt: "Select Department"}%>
		</fieldset>
		<fieldset>
			<legend><b>Date Range</b></legend>
			<b>From : </b><%= text_field_tag :rangeS %>
			<b>To :</b><%= text_field_tag :rangeE %>
		</fieldset> 
		<%= submit_tag "Filter"%>
		<% end %>
	</fieldset>
</div>
</center>


<div id="reportContent"></div>

<%= javascript_include_tag "ajax-filter" %>