<h1>Report Archive</h1>

<p>This section displays all the report regarding the leave application.</p>

<center>
<div id="reportFilter">
	<fieldset class="fieldset-auto-width">
		<legend><b>Report filter</b></legend>
	<%= form_tag report_leave_applications_path, method: :get do  %>
		<fieldset>
			<legend><b>Employees</b></legend>
			<%= select_tag :emp_name, options_for_select(@employees.collect{ |u| [u.name, u.id] }),
			{prompt: "Select Employee Name"}%>
		</fieldset>
		<fieldset>
			<legend><b>Departments</b></legend>
			<%= select_tag :dept_name, options_for_select(@departments.collect{ |u| [u.department_name, u.id] }),
			{prompt: "Select Department"}%>
		</fieldset>
		<fieldset>
			<legend><b>Date Range</b></legend>
			<b>From : </b><%= text_field_tag :rangeS %>
			<b>To :</b><%= text_field_tag :rangeE %>
		</fieldset> 
		<%= submit_tag "Filter"%>
		<% end %>
	</fieldset>
</div>
</center>

<% unless @reports.nil? || @reports.empty?%>
		<center>
		<div id="reportFilter">
			<fieldset class="fieldset-auto-width">
				<legend><b>Search Result</b></legend>
					<table size='100%' id='managerTable'>
					<tr>
						<th>Year</th>
						<th>Month</th>
						<th>Employee Name</th>
						<th>Department</th>
						<th>Approved</th>
						<th>Rejected</th>
						<th>Pending</th>
					</tr>
			<% @reports.each do |r|%>
					<% @approve << r.APPROVED %>
					<% @reject << r.REJECTED %>
						<% @pending << r.PENDING %>
					<% month = Date.parse(r.MONTH) %>
					<tr>
						<td><center><%= r.YEAR %></center></td>
						<td><center><%= month.strftime('%B') %></center></td>
						<td><center><%= r.NAME %></center></td>
						<td><center><%= r.DEPARTMENT %></center></td>
						<td><center><%= r.APPROVED %></center></td>
						<td><center><%= r.REJECTED %></center></td>
						<td><center><%= r.PENDING %></center></td>
						
					</tr>
			<% end %>
				<tr class="lastRow">
					<td colspan="4"><center><b>Total</b></center></td>
					<td><center><b><%= @approve.sum %></b></center></td>
					<td><center><b><%= @reject.sum %></b></center></td>
					<td><center><b><%= @pending.sum %></b></center></td>
					
				</tr>
				</table>
			</fieldset>
		</div>
		<% @sum = @approve.sum + @reject.sum %>	
		<%= link_to "Download PDF", pdfGen_leave_applications_path(format:"pdf")+"?nID="+@nID+"&dID="+@dID+"&s="+@s+"&e="+@e+"&a="+@approve.sum.to_s+"&r="+@reject.sum.to_s %>
<% end %>



