<h1>Report Archive</h1>

<p>This section displays all the report regarding the leave application.</p>

<center>
<div id="reportFilter">
	<fieldset class="fieldset-auto-width">
		<legend><b>Report filter</b></legend>
	<%= form_tag report_leave_applications_path, method: :get do  %>
		<fieldset>
			<legend><b>Employees</b></legend>
			<%= select_tag 'emp_name', options_for_select(@employees.collect{ |u| [u.name, u.id] }),
			{prompt: "Select Employee Name"}%>
		</fieldset>
		<fieldset>
			<legend><b>Departments</b></legend>
			<%= select_tag 'dept_name', options_for_select(@departments.collect{ |u| [u.department_name, u.id] }),
			{prompt: "Select Department"}%>
		</fieldset>
		<fieldset >
			<legend><b>Date Range</b></legend>
			<b>From : </b><%= date_select("range", "dateS", 
			:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }) %>
			<br/>
			<b>To :</b> <%= date_select("range", "dateE", 
			:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }) %>
		</fieldset>
		<%= submit_tag "Filter"%>
		<% end %>
	</fieldset>
</div>
</center>

<center>
<div>
	<table size='100%' id='managerTable'>
		
	</table>
</div>	

</center>
