<h1>Report Archive</h1>

<p>This section displays all the report regarding the leave application.</p>

<center>
<div id="reportFilter">
	<fieldset class="fieldset-auto-width">
		<legend><b>Report filter</b></legend>
	<%= form_tag report_leave_applications_path, method: :get do  %>
		<fieldset>
			<legend><b>Employees</b></legend>
			<%= select_tag :emp_name, options_for_select(@employees.collect{ |u| [u.name, u.id] }),
			{prompt: "Select Employee Name"}%>
		</fieldset>
		<fieldset>
			<legend><b>Departments</b></legend>
			<%= select_tag :dept_name, options_for_select(@departments.collect{ |u| [u.department_name, u.id] }),
			{prompt: "Select Department"}%>
		</fieldset>
		<fieldset>
			<legend><b>Date</b></legend>
			<b>Month : </b><%= select_month(nil, :field_name => 'value', :prefix => 'month',:prompt => 'Choose month') %>
			<b>Year :</b><%= select_year(nil, :field_name => 'value', :prefix => 'year',:prompt => 'Choose year') %>
		</fieldset> 
		<fieldset>
			<legend><b>Date Range</b></legend>
			<b>From : </b><%= text_field_tag :rangeS %>
			<b>To :</b><%= text_field_tag :rangeE %>
		</fieldset> 
		<%= submit_tag "Filter"%>
		<% end %>
	</fieldset>
</div>
</center>

<% unless @reportsA.nil? && @reportsR.nil? %>
<center>
<div>
	<table size='100%' id='managerTable'>
		<tr>
			<th>Approved</th>
			<th>Rejected</th>
		</tr>
		<tr>
			<td><%= @reportsA %></td>
			<td><%= @reportsR %></td>
		</tr>
	</table>
</div>	
</center>
<% end %>
