<h3>List Of Application</h3>

<p><%= search_form_for @search do |f| %>
	
  <%= f.label :status_id_eq, "Role :" %>
  <%= f.select :status_id_eq, options_for_select([["Please Select",nil],["Not Submitted",1],["Approved by Manager",4],["Rejected",3]]) %>
	
  <%= f.submit "Search" %></p>
<% end %>

<%= render 'leaveApplications'%>