<% @leaveApplication.each do |l| %>
<h1>Application #<%= l.id %></h1>

<center>
<div id='staffApplication'>

	<table>

		<tr>
			<td><b>Leave Type :</b></td>
			<td><%= l.leave_name%></td>
		</tr>

		<tr>
			<td><b>Reason of leave :</b></td>
			<td><%= l.reason%></td>
		</tr>

		<tr>
			<td><b>Date of Start Leave :</b></td>
			<td><%= l.start_date.strftime('%d/%m/%Y') %></td>
		</tr>

		<tr>
			<td><b>Date of End Leave :</b></td>
			<td><%= l.end_date.strftime('%d/%m/%Y') %></td>
		</tr>

		<tr>
			<td><b>Application Status :</b></td>
			<td><%= l.status_name %></td>
		</tr>
		
	</table>

	<% if current_employee.role_id == 1 && l.status_id == 1 %>
		<p><%= button_to 'Edit',edit_leave_application_path(l.id), method: :get %></p>
		<p><%= button_to 'Delete',l,:method => :delete,confirm: 'Are you sure?' %></p>	
		<p><%= button_to 'Submit',submitApp_leave_application_path(l.id), method: :put %></p>
	<% elsif l.status_id == 2 && (current_employee.role_id == 2 || current_employee.role_id == 5)%>
		<%= form_for(@review, :url => {:controller => "leave_applications", :action => "updateReview"}) do |f| %>
			<%= f.select :status, [['Approve',4],['Reject',3]] %>
	   		 <%= f.submit "Update Review Status" %>
		<% end %>
	<% elsif l.status_id == 4 && current_employee.role_id == 3 %>	
		<%= form_for(@review, :url => {:controller => "leave_applications", :action => "updateReview"}) do |f| %>
			<%= f.select :status, [['Approve',5],['Reject',3]] %>
	   		 <%= f.submit "Update Review Status" %>
		<% end %>
	<% end %>
	<%= link_to 'Back', :back %>
<% end %>
</div>
</center>