<table size='100%' id='managerTable'>
		<tr>
			<th>No.</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Reason</th>
			<th>Action Taken On</th>
		</tr>
		<% @del.each_with_index do |l,i| %>
			<tr>
				<td><%= (i+1)%></td>
				<td><%= l.start_date.strftime('%d/%m/%Y') %></td>
				<td><%= l.end_date.strftime('%d/%m/%Y') %></td>
				<td><%= l.reason %></td>
				<td><%= l.created_at.strftime('%d/%m/%Y') %></td>
			</tr>
		<% end %>
	</table>
	<center><%= will_paginate @del %> </center>