<h2>List Of Leave Applications that has been deleted</h2>

<% if @del.empty? %>
	<center><h3><i>There is no Leave Applications Deletion Notifications at the moment</i></h3></center>
<% else %>
<center>
<div>
	<table size='100%' id='managerTable'>
		<tr>
			<th>ID</th>
			<th>Leave Application ID</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Reason</th>
		</tr>
		<% @del.each do |l| %>
			<tr>
				<td><%= l.id%></td>
				<td><%= l.leave_application_id%></td>
				<td><%= l.start_date.strftime('%d/%m/%Y') %></td>
				<td><%= l.end_date.strftime('%d/%m/%Y') %></td>
				<td><%= l.reason %></td>
			</tr>
		<% end %>
	</table>
</div>
</center>
<% end %>