<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'logo.jpg'%>
  <title>Employee Leave Management System</title>
  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<div class="myModalContainer">
</div>
<body>
	
	<div id='wrapper'>
				<div id='header'>
					<%= image_tag("logo.jpg", :alt => "rss feed", :id=>"img") %>
					<h1>Employee Leave Management System</h1>
						<% if employee_signed_in? %>
					
						<ul id='nav'>
							<li><%= link_to 'Home',leave_applications_path %></li>
							<li>
								<a href="#">Leave Application</a>
								<ul class="nav">
									<li><%= link_to 'Application Status', show_status_leave_applications_path %></li>
									<li><%= link_to 'Application Archive', archive_leave_applications_path %></li>
										<% if current_employee.role_id == 2 || current_employee.role_id == 3 || current_employee.role_id == 5 %>
											<li><%= link_to 'Report',report_leave_applications_path %></li>
											<li><%= link_to 'Application Management',management_leave_applications_path %></li>
											<li><%= link_to 'Removed Application Notifications',deletions_path %></li>
										<% end %>
								</ul>

							<li>
								<a href="#">Profile Management</a>
								<ul class="nav">
									<li><%= link_to 'View Profile',employee_path(current_employee)%></li>
										<% if current_employee.role_id == 4 || current_employee.role_id == 5 %>
											<li><%= link_to 'User Management' , employees_path %></li>
										<% end %>
								</ul>
							</li>

							<li>Leave balance : <%= current_employee.leave_balance %></li>
							<li><%= link_to 'Logout', destroy_employee_session_path, method: :delete %></li>
						</ul>
					<% end %>
					<div class='clearfix'></div>
				</div>
			
			<div id='content'>
					<% flash.each do |key,msg|%>
						<%= content_tag :div, msg, id:key %>
					<% end %>
				<p>
				
					<%= yield %>
				</p>
			</div>
			<div id='footer'>
				<p>
					&copy Internship Sri Komputer 2013
				</p>
			</div>
		</div>
	</body>
</html>